# Environment
.env
.venv/
venv/
env/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Local notebooks/checkpoints
.ipynb_checkpoints/

# OS/editor
.DS_Store
Thumbs.db
.vscode/
.idea/

docs/